
.tile {
    /*width: 78px;*/
    /*height: 80px;*/
    padding: 1px;
}

.tile__inner {
    position: relative;
    /*transform: scale(1);*/
    /*width: 90px;*/
    /*height: 90px;*/
}

.tile__inner--discard {
    width: 76px;
    height: 77px;
}

.tile__box {
    top: 0;
    left: 0;
}

.tile__box--discard {
    width: 5vw;
    max-width: 76px;
}

.tile__box--hand {
    width: 76px;
}

.tile__drawing {
    position: absolute;
    max-width: 50px;
    width: 3.7vw;
}

.tile__drawing--discard {
    top: 3px;
    left: 12px;
    transform: matrix3d(1,0,0.00,0,0.00,0.71,0.71,-0.0001,0,-0.71,0.71,0,0,0,0,1);
}

.tile__drawing--hand {
    top: 2.12vw;
    left: 0.66vw;
}

@media (min-width: 1600px) {
    .tile__drawing--hand {
        top: 34px;
        left: 12px;
    }
}

@media (max-width: 360px) {
    .tile__drawing--hand {
        top: 1.6vw;
        left: 0.54vw;
    }
}