body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
  color: #E6E6E6;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hand {
    display: flex;
}

.discard {
}

.discard__line {
    display: flex;
}


.page-content {

}

.page-header {
  text-align: center;
}

.page-header__title {
  font-size: 36px;
}

.button-container {
  float: right;

}

.flat-btn  {
  width: 150px;
  height: 40px;
  padding: 0 8px;
  line-height: 30px;
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.flat-btn--green {
  background-color: #ADF6B1;
}

.flat-btn--green:hover {
  background-color: #93d697;
}

.flat-btn__caption {
  color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
}


.hand__tsumo {
  margin-right: 16px;
}

.hand--selectable .tile:hover {
  opacity: 0.8;
  cursor: pointer;
}